/* CSS for the toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #608dfd;
}

input:focus + .slider {
  box-shadow: 0 0 1px #608dfd;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

body.dark-mode input:checked + .slider {
  background-color: #90caf9;
}

body.dark-mode input:focus + .slider {
  box-shadow: 0 0 1px #90caf9;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
