.flex-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 20px;

  @media (max-width: 998px) {
    display: flex;
    flex-direction: column;
  }
}

.service-img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style each item */
.my-masonry-grid_column > div {
  background: #fff;
  margin-bottom: 30px;
}

img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}


@media (max-width: 992px) {
  .text-center {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .my-masonry-grid {
    display: block;
  }
  .my-masonry-grid_column {
    padding-left: 0;
  }
  .my-masonry-grid_column > div {
    margin-bottom: 15px;
  }
}

.carousel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.carousel-content i {
  font-size: 50px;
  margin-bottom: 20px;
}

.carousel-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.carousel-content p {
  font-size: 16px;
}

.carousel-status {
  display: none;
}

.cbMjzT {
  margin: 9px 20px 0;
  padding: 8px 2px !important;
}

.display-row {
  display: flex;
  flex-direction: row ;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #23527c;
  text-decoration: underline;
}