/**
 * Main App CSS file
 * Contains the most important styles for the application layout
 */

.flex-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 20px;

  @media (max-width: 998px) {
    display: flex;
    flex-direction: column;
  }
}

.service-img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style each item */
.my-masonry-grid_column > div {
  background: #fff;
  margin-bottom: 30px;
}

img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
  writing-mode: horizontal-tb !important;
  text-orientation: mixed !important;
  letter-spacing: normal !important;
}

body, html {
  overflow-x: hidden !important;
  max-width: 100vw;
}

.container, .row, .col-md-10, .col-md-offset-1, section {
  overflow: hidden;
  max-width: 100%;
}

#features {
  padding: 80px 0;
  background: #f6f6f6;
}

#features .section-title {
  margin-bottom: 40px;
}

h1, h2, h3, h4, h5, h6, p {
  position: static !important;
}

.nav-arrow {
  z-index: 999;
}

@media (max-width: 992px) {
  .text-center {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .my-masonry-grid {
    display: block;
  }
  .my-masonry-grid_column {
    padding-left: 0;
  }
  .my-masonry-grid_column > div {
    margin-bottom: 15px;
  }
}

.carousel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}
